{% extends 'base.html' %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load widget_tweaks %}

{% block header %}
<link rel="stylesheet" href="{% static "css/mychart.css" %}"></link>
<script src="{% static "js/Chart.bundle.min.js" %}"></script>
{% endblock %}

{% block title %}
  サンプルその１
{% endblock %}

{% block content %}
<div class="container">
    <div class="mycanvas">
        <canvas id="myChart"></canvas>
    </div>
    <input type="hidden" id="x_data_str" name="x_data_str" value="{{ x_data_str }}">
    <input type="hidden" id="y_data_str" name="y_data_str" value="{{ y_data_str }}">
    <input type="hidden" id="label_text" name="label_text" value="{{ label_text }}">
    <input type="hidden" id="title_text" name="title_text" value="{{ title_text }}">
    <input type="hidden" id="chart_size" name="chart_size" value="{{ chart_size }}">
    <input type="hidden" id="show_line" name="show_line" value="{{ show_line }}">
</div>
<script type="text/javascript" src="{% static "js/scatter01.js" %}"></script>
{% endblock %}
